@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myfont;
    src: url(SCRIPTIN.ttf);
}
body{
    height: auto;
    display: block;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    overflow: scroll;
    background-color: rgb(42, 19, 68);
}

.form-content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    max-height: 3em;
    max-width: 450px;
}
.header{
    display: flex;
    max-width: 100vw;
    max-height: 120px;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 45px;
    background-color: rgb(149, 153, 156);
    z-index: 9999;
}
.header > h2 {
    font-size: 3em;
    font-family: myfont;
    color: rgb(78, 69, 69);
    text-shadow: 1px 2px 1px rgb(54, 52, 52);
}
.header > ul > li > a {
text-decoration: none;
color: rgb(37, 36, 36);
font-size: 1.2em;
letter-spacing: 1px;

font-family: forte;
}
.header > ul {
    list-style: none;
    margin-left:150px;
    display: flex;
    flex-direction: row;
    font-family: forte;
    gap: 30px;
    }
.img__box{
    position: relative;
    height: 100%;
    width: 100%;
}
.img__box img{
 height: 100%;
 width: 100%;
}
.slide span{
    position: absolute;
    right: 80px;
    height: 60px;
    width: 60px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    transition: transform 0.5s;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(83, 30, 79);
    outline: 1px solid rgb(163, 92, 154);
  }
::-webkit-scrollbar-corner{
    background-color: rgb(65, 11, 38);
}
::-webkit-scrollbar-track{
    border-radius:30%;
    border: 1px solid rgb(97, 9, 85);
}
.slide span:nth-child(1){
    top: 30px;
}
.slide span:nth-child(2){
    top: 150px;
}
.slide span:nth-child(3){
    top: 280px;
}
.slide span img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.slide span .arrow{
    position: absolute;
    left: -25px;
    top: 50%;
    height: 1px;
    width: 28px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition-delay: 0.3s;
    transition: 0.5s;
}
.slide span .details{
    position: absolute;
    top: 0;
    left: -280px;
    height: 100px;
    width: 150px;
    font-size: 8px;
    color: #fff;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.5s;
}
.slide span .details h4{
    text-decoration: underline;
    text-underline-offset: 2px;
    font-size: 12px;
    letter-spacing: 2px;
}
.slide span.show .details{
    left: -190px !important;
    opacity: 1;
}
.slide span.show .arrow{
    left: -33px;
    opacity: 1;
}
.slide span::after,.slide span::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid;
    border-radius: 50%;
    opacity: 0;
}
.slide span::after{
    height: 150%;
    width: 150%;
    border-color: rgba(255, 255, 255, 0.5);
}
.slide span::before{
    height: 250%;
    width: 250%;
    border-color: rgba(255, 255, 255, 0.3);
}
.slide span.show{
    transform: scale(1.4);
    z-index: 99;
}
.slide span.show:before,.slide span.show:after{
    opacity: 1;
}


.curved-corner-bottomright {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    transform: translateX(108px);
  }
  .curved-corner-bottomright:before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    box-shadow: 50px 50px 0 0 rgb(42, 19, 68);
   
  }
  .curved-corner-topleft{
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    transform: translateY(100px) translateX(-109px);
  }

  .curved-corner-topleft:before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    box-shadow: -50px -50px 0 0 rgb(149, 153, 156);
  }